.routine-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid-column {
    display: flex;
    flex-direction: column;
    width: 12%;
    align-items: center;
}

.grid-header {
    background-color: #7f6fb0;
    color: #1a0e0e;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.grid-cell {
    background-color: #7397de;
    color: #151e4e;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-cell label {
    margin-bottom: 5px;
}

.grid-cell input {
    width: 80%;
    height: 40px;
    border: none;
    padding: 5px;
}

.grid-cell label {
    margin-bottom: 5px;
    text-transform: capitalize;
}

textarea {
    width: 90%;
    height: 125px;
}
